version: "3.8"

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: healthcare_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: healthcare_api
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U healthcare_user -d healthcare_api"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: 511039171154.dkr.ecr.us-east-2.amazonaws.com/healthcare-api:latest
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
